<div class="container">
  <br>
    <h3 class="text-center h3-responsive">Ofertas</h3>
    <hr width="200px">
    <mdb-carousel class="carousel slide carousel-fade " [animation]="'fade'" >
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        </mdb-carousel-item>
    </mdb-carousel>

    


</div>
